

you are given  a DOM tree and have to find the table with the largest number of cells within it.
A table is represented by <table></table> tag, a table row is represented by <tr></tr>
and a single cell is represented by <td></td>


for example, given an html document with the following contents within the body tag,

<h3>Some text tables</h3>

<div>
    <p>First table</p>
    <table>
        <tr>
            <td>First</td>
            <td>row</td>
        </tr>
        <tr>
            <td>and</td>
            <td>second</td>
            <td>row</td>
        </tr>
        <tr>and</tr>
        <tr>the</tr>
        <td>third</td>
        <td>one</td>
    </table>
</div>

<p>Second one</p>
<table>
    <tr>
        <td>Not</td>
        <td>so</td>
    </tr>
    <tr>
        <td>many</td>
        <td>cells</td>
    </tr>
</table>

there are two tables in the DOM tree. The first table consists of nine cells and the second of four cells 
given the dom tree, use javascript to return the largest cell count of any single table. 
For example, given the document described above, it should retuen 9. if the dom tree does not contain 
any table, the function should return 0




There are N blocks, numbered from 0 to N-1, arranged in a row, A couple of frogs were sitting together
on one block when they had a terriblequarrel. Now they want to jump away fromone another so that the distance
between them will be as large as possible. The distance between blocks numbered J and K, where J<=K, is 
computed as K - J + 1. the frogs can only jump up, meaning that they can move from one block to the another 
only if the two blocks are adjacent and the second block is of the same or greater height as the first.
what is the longest distance that can they can possibly create between each other, if they also chose to sit
on the optimal starting block?

write a function

def solution(blocks)

that, given an array blocks consisting of N integers denoting the height of the blocks, returns the longers
posible distance that two frog can stay where it is and the second frog can make each other starting
from one of the block 

eg. given blocks = [2,6,8,5] the function should return 3
given blocks = [1,5,5,2,6] the function should return 4